{% extends 'page-layout.twig' %}
{% block title %}
    {{parent()}} - {{category.name}}
{% endblock %}
{% block content %}
    <div id="pageContent">
        <div id="breadcrumb">
            <a href="{{site.url}}">
                <img src="{{theme.uri}}/images/home.png" alt="home decoration">
            </a>
        </div>
        <div id="pageActus">
            <h1>{{category.name}}</h1>
            <div id="actusFlex">
                <div id="grpNext-1" class="actusNextGroup">
                {% for post in posts %}
                    {% if loop.index < 21 %}
                        <div class="actus">
                            <div class="actusImg">
                                <img src="{{post.thumbnail.src}}" alt="décoration actu">
                            </div>
                            <div class="actusText">
                                <h2>{{post.title}}</h2>
                                <div class="date">{{post.date}}</div>
                                <span class="moreActus"><a href="{{site.url}}/{{post.slug}}"></a></span>                        
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                {% if posts|length > 20 %}
                    <a href="/category/actus?show=archives">
                        <div id="nextAction">
                            Toutes les archives
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
