{% extends 'page-layout.twig' %}
{% block title %}
    {{parent()}} - {{category.name}}
{% endblock %}
{% block content %}
    <div id="pageContent">
        <div id="breadcrumb">
            <a href="{{site.url}}">
                <img src="{{theme.uri}}/images/home.png" alt="home decoration">
            </a>
        </div>
        <div id="pagetext">
            <h1>{{category.name}}</h1>
            {% for post in posts %}
                <h2>{{post.title}}</h2>
                <div id="blogtext2">
                    <div class="date">{{post.date}}</div>
                    <div class="newsabstract">
                        {{post.post_content|excerpt(40)}}
                        <span class="more"><a href="{{site.url}}/{{post.slug}}"></a></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
