{% extends 'page-layout.twig' %}
{% block title %}
    {{parent()}} - Accueil
{% endblock %}
{% block css %}
    <link rel="stylesheet" media="all" href="{{theme.uri}}/ebsco.css" type="text/css">
    {{parent()}}
{% endblock %}
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/FormProcessing.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/ebsco.js"></script>
{% endblock %}
{% block content %}
{% for warning in alerte %}
    <div class="alerte">{{warning.title}}<br/>{{warning.content}}</div>
{% endfor %}
<div id="homeContent">
        <div class="leftBoxTop">
            <img src="{{theme.uri}}/images/tetiaire_verte.png" alt="décoration" class="tetiaireBoite">
            <div class="boxTitle">
                {{votrePortail.title}}
            </div>
            <div class="portailTitle">
            </div>
            <ul class="leftBox">
            {% for item in votrePortail.posts %}
                <li>
                    <img src="{{theme.uri}}/images/squareblue.png" alt="" class="squareBlue">
                    <a href="{{site.url}}/{{item.slug}}">{{item.post_title}}</a>
                </li>
            {% endfor %}
            </ul>
            {% for link in votrePortail.child %}
                <div class="portailTitle"><a href="{{site.url}}/category/{{link.slug}}">{{link.name}}</a></div>
                <ul class="leftBox">
                {% set limit = 3 %}
                {% set length = 0 %}
                {% for child in link.childposts %}
                    {% if loop.index < limit + 1 %}
                    <li>
                        <a href="{{site.url}}/category/{{link.slug}}?link={{child.slug}}">
                        <img src="{{theme.uri}}/images/squareblue.png" alt="" class="squareBlue">
                        {{child.post_title}}
                        </a>
                    </li>
                    {% endif %}
                    {% set length = loop.length %}
                {% endfor %}
                {% if length > limit %}
                    <li><img src="{{theme.uri}}/images/squareblue.png" alt="" class="squareBlue">&nbsp;&nbsp;...</li>
                {% endif %}
                <span class="fleche">
                    <a href="{{site.url}}/category/{{link.slug}}"></a>
                </span>
                </ul>
            {% endfor %}
        </div>
        <div class="center">
            <div class="title">
               Ressources électroniques en accès réservé
               <a href="{{site.url}}/aide">
                    <img src="{{theme.uri}}/images/picto_information.png" alt="information">
               </a>           
            </div>
            {{ include('ebsco.twig') }}
            <div id="baseTop">
                {% for base in basesAccueil %}
                    <div class="dbHome">
                        <a href="{{ezproxy.inist}}{{base.url_bases_de_donnees}}" target="_blank">
                            <div class="visuel">
                                <img src="{{ TimberImage(base.visuel_bases_de_donnees).src }}" class="dbHomeDeco" >
                            </div>
                            <div class="dbTitle">
                                <img src="{{base.thumbnail.src}}" class="dbHomeLogo" >
                                <div class="dbName">
                                    {{base.title}}
                                </div>
                                <div class="dbText">
                                    {{base.content}}
                                </div>                          
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="rightSidebar">
            {{home_sidebar}}
        </div>
        <div class="leftBoxBottom">
            <img src="{{theme.uri}}/images/tetiaire_bleue.png" alt="decoration" class="tetiaireBoite">
            <div class="boxTitle">
                Actualités
            </div>
            <ul class="leftBox">
                {% for post in news %}
                    <li>
                        <img src="{{theme.uri}}/images/squareblue.png" alt="" class="squareBlue">
                        <a href="{{site.url}}/{{post.slug}}">{{post.post_title}} <span class="italic">({{post.post_date|date("d-m-Y")}})</span></a>
                    </li>
                {% endfor %}
                <span class="fleche">
                    <a href="{{site.url}}/category/actus"></a>
                </span>
            </ul>
        </div>
        <div class="centerRight">
            <div class="title">
               Littératures en libre accès            
            </div>
            <div id="openAccess">
                {% for link in openAccess %}
                    <div class="oa_links{{link.nbcol}} linksborder">
                        <div class="oa_title">                     
                            {{link.title}}
                        </div>
                        {% set foo = "" %}
                        {% for item in link.posts %}
                            {% if loop.length < 9  %}
                                {% set foo = 'inf' %}
                            {% endif %}
                        {% endfor %}
                        {% if foo == 'inf' %}
                        <ul class="col1">
                            {% for item in link.posts %}
                                <li class="link">
                                    <a href="{{item.link_url}}" target="blank">
                                        {{item.name}}                          
                                    </a>
                                    <div class="linkText">
                                        {{item.content}}                                        
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <ul class="col1">
                            {% for item in link.posts %}
                                {% if loop.index < 9 %}
                                <li class="link">
                                   <a href="{{item.link_url}}" target="blank">
                                        {{item.name}}                          
                                    </a>
                                    <div class="linkText">
                                        {{item.content}}                                        
                                    </div>
                                </li>                                
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <ul class="col1">
                            {% for item in link.posts %}
                                {% if loop.index > 8 %}
                                <li class="link">
                                    <a href="{{item.link_url}}" target="blank">
                                        {{item.name}}                          
                                    </a>
                                    <div class="linkText">
                                        {{item.content}}                                        
                                    </div>
                                </li>                                
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                {% endfor %}
                    <div class="oa_links1 linksborder">
                        <div class="oa_title">                     
                            Sites thématiques
                        </div>
                        <ul class="col1">
                         <!-- ATTENTION une seule colonne prevue sinon reprendre code openaccess-->
                         {% for link in sitesThematiques %}
                            <li class="link">
                                <a href="{{site.url}}/category/{{link.slug}}">
                                    {{link.title}}                          
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
</div>
{% endblock %}
{% block footer %}
    <img src="{{theme.uri}}/images/tetiaire_blanche.png" alt="decoration" class="tetiaire"/>
    <div id="usefulLinks">
        Liens utiles
    </div>
    <div id="allLinks">
        {% for item in useLinks %}
            <div class="footer_links">
                <div class="footer_title">                     
                    {{item.title}}
                </div>
                <ul class="col{{item.nbcol}}">
                    {% for link in item.posts %}
                        <li>
                            <img src="{{theme.uri}}/images/squarewhite.png" alt="" class="squareWhite">
                            <a href="{{link.url_du_site}}" target="blank">{{link.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    {{ parent() }}
{% endblock %}