{% extends 'page-layout.twig' %}
{% block javascript %}
        <script type="text/javascript" src="{{theme.uri}}/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/outils.js"></script>
{% endblock %}
{% block title %}
    {{parent()}} - {{category.name}}
{% endblock %}
{% block content %}
    <div id="pageContent">
        <div id="breadcrumb">
            <a href="{{site.url}}">
                <img src="{{theme.uri}}/images/home.png" alt="home decoration">
            </a>
        </div>
        <div id="pagetext">
            <h1>{{category.name}}</h1>
            <div id="pageOutils">
                <div id="menuOutils">
                {% set foo = 1 %}
                <ul class="menuOutil">
                {% for post in autres %}
                    <li class="titreOutils outilsBib" id="titre-{{foo}}">{{post.title}}</li>
                    {% set foo = foo + 1 %}
                 {% endfor %}
                <li id="logiciels">Logiciels bibliographiques</li>
                {% for post in biblio %}
                    <li class="titreOutils2 outilsBib" id="titre-{{foo}}">{{post.title}}</li>
                    {% set foo = foo + 1 %}
                {% endfor %}
                </ul>
                </div>
                <div id="textOutils">
                {% set bar = 1 %}
                {% for post in autres %}
                     <div id="text-{{bar}}" class="noshow textPage">
                        <h2>{{post.title}}</h2>
                        {{post.content}}
                    </div>
                    {% set bar = bar + 1 %}
                {% endfor %}
                {% for post in biblio %}
                     <div id="text-{{bar}}" class="noshow textPage">
                        <h2>{{post.title}}</h2>
                        {{post.content}}
                    </div>
                    {% set bar = bar + 1 %}
                 {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
