<!DOCTYPE html>
<html>
<head>
    <title>
    {% block title %}
        {{site.name}}
    {% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta name="description" content="Inserm Biblio">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="{{theme.uri}}/images/favicon.ico" type="images/x-icon">
    {% block css %}
        <link href="https://fonts.googleapis.com/css?family=Asap:400,600,700" rel="stylesheet">
        <link rel="stylesheet" media="all" href="{{theme.uri}}/style.css" type="text/css">
    {% endblock %}
    {% block javascript %}
    {% endblock %}
    {{wp_head}}
</head>
<body>
    <header>
        <img src="{{theme.uri}}/images/bandeau_2018.jpg" alt="decoration" class="bandeau"/>
        <div id="entete">
            <div id="titleLong">
                La bibliothèque numérique <br/>
                de l'Institut national de la santé et de la recherche médicale
            </div>
            <div id="titleSmall">
                Bibliothèque numérique - Inserm
            </div>
            <div id="titleLinks">
                <a href="{{site.url}}/inscription" id="inscription"><span class="showhidden">S'inscrire</span></a>
                <a href="https://insermbib-test.inist.fr/wp-content/uploads/2018/04/INSERM_DISC_CharteWeb.pdf" target="_blank" id="charte"><span class="showhidden">Charte BiblioInserm</span></a>
            </div> 
        </div>
    </header>
    <div class='site-content bsbb'>
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    <footer>
        <img src="{{theme.uri}}/images/tetiaire_blanche.png" alt="decoration" class="tetiaire"/>
        <div id="usefulLinks">
            Liens utiles
        </div>
        <div id="allLinks">
            {% for item in useLinks %}
                <div class="footer_links">
                    <div class="footer_title">                     
                        {{item.title}}
                    </div>
                    <ul class="col{{item.nbcol}}">
                        {% for link in item.posts %}
                            <li>
                                <img src="{{theme.uri}}/images/squarewhite.png" alt="" class="squareWhite">
                                <a href="{{link.link_url}}" target="blank">{{link.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div id="footerBottom">
            <div id="footerLogos">
                <a href="https://www.inserm.fr" target="_blank">
                    <img src="{{theme.uri}}/images/logo_inserm.png" alt="logo Inserm" class="grandLogo"/>
                </a>
                <a href="https://intranet.inserm.fr/" target="_blank">
                    <img src="{{theme.uri}}/images/logo_inserm_intranet.png" alt="logo Inserm intranet" class="petitLogo"/>
                </a>
                <a href="https://www.images.inserm.fr/" target="_blank">
                    <img src="{{theme.uri}}/images/logo_inserm_images.png" alt="logo Inserm images" class="petitLogo"/>
                </a>
                <a href="https://rh.inserm.fr" target="_blank">
                    <img src="{{theme.uri}}/images/inserm_rh.png" alt="logo Inserm rh" class="petitLogo"/>
                </a>
            </div>
            <div id="mentions">
            {% for infos in infoFooter %}
                <div class="info">
                    <a href="{{site.url}}/{{infos.slug}}">
                        {{infos.post_title}}
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </footer>
    {% endblock %}
    {{wp_footer}}
</body>
</html>
