<!DOCTYPE html>
<html>
<head>
    <title>
    {% block title %}
        {{site.name}}
    {% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta name="description" content="Inserm Biblio">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--    <link rel="icon" href="{{theme.uri}}/images/favicon.ico" type="images/x-icon"> -->
    {% block css %}
        <link rel="stylesheet" media="all" href="{{theme.uri}}/style.css" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript" src="{{theme.uri}}/js/jquery-1.10.2.js"></script>
    {% endblock %}
    {{wp_head}}
</head>
<body>
    <header>
        <img src="{{theme.uri}}/images/bandeau_2018.jpg" alt="decoration" class="bandeau"/>
        <div id="entete">
            <div id="titleLong">
                <a href="{{site.url}}/la-bibliotheque-numerique-de-linserm/">
                    La bibliothèque numérique <br/>
                    de l'Institut national de la santé et de la recherche médicale
                </a>
            </div>
            <div id="titleSmall">
                <a href="{{site.url}}/la-bibliotheque-numerique-de-linserm/">
                    Bibliothèque numérique - Inserm
                </a>
            </div>
            <ul id="titleLinks">
            {% for item in services %}
                <li class="linkoa">
                    <a href="{{item.service_link}}" target="_blank" class="showhidden">
                        {{item.post_title}}
                    </a>
                    <div class="linkText">
                        {{item.post_content}}
                    </div>                       
                </li>
            {% endfor %}
            </ul>
        </div>
    </header>
    <div class='site-content bsbb'>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
    {% block footer %}
        <div id="footerBottom">
            <div id="footerLogos">
                <a href="https://www.inserm.fr" target="_blank">
                    <img src="{{theme.uri}}/images/logo_inserm.png" alt="logo Inserm" class="grandLogo"/>
                </a>
                <a href="https://intranet.inserm.fr/" target="_blank">
                    <img src="{{theme.uri}}/images/logo_inserm_intranet.png" alt="logo Inserm intranet" class="petitLogo"/>
                </a>
                <a href="https://www.images.inserm.fr/" target="_blank">
                    <img src="{{theme.uri}}/images/logo_inserm_images.png" alt="logo Inserm images" class="petitLogo"/>
                </a>
                <a href="https://rh.inserm.fr" target="_blank">
                    <img src="{{theme.uri}}/images/inserm_rh.png" alt="logo Inserm rh" class="petitLogo"/>
                </a>
            </div>
            <div id="mentions">
            {% for infos in infoFooter %}
                <div class="info">
                    <a href="{{site.url}}/{{infos.slug}}">
                        {{infos.post_title}}
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endblock %}
    </footer>
    {{wp_footer}}
</body>
</html>
