{% extends 'page-layout.twig' %}
{% block javascript %}
    <script type="text/javascript" src="{{theme.uri}}/js/flipflop.js"></script>
{% endblock %}
{% block title %}
    {% for post in posts %}
        {{parent()}} - {{post.title}}
    {% endfor %}
{% endblock %}
{% block content %}
    <div id="pageContent">
        <div id="breadcrumb">
            <a href="{{site.url}}">
                <img src="{{theme.uri}}/images/home.png" alt="home decoration">
            </a>
        </div>
        <div id="presentationText">
            {% for post in posts %}
                <h1>{{post.title}}</h1>
                <div id="subTitleText" class="textPage">{{post.content}}</div>
                <span id="flipText" class="moreText" onclick="flipflop('frame');"></span>
                <div id="frame">
                    <div id="frameTitle">{{post.titre}}</div>
                    <div id="frameText" class="textPage">{{post.liste}}</div>
                </div>
                <div id="presContact">Pour toute information, veuillez <a href="{{site.url}}/contact">nous contacter</a> 
</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
