{% extends 'page-layout.twig' %}
{% block javascript %}
        <script type="text/javascript" src="{{theme.uri}}/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/publication.js"></script>
{% endblock %}
{% block title %}
    {{parent()}} - {{category.name}}
{% endblock %}
{% block content %}
    <div id="pageContent">
        <div id="breadcrumb">
            <a href="{{site.url}}">
                <img src="{{theme.uri}}/images/home.png" alt="home decoration">
            </a>
        </div>
        <div id="pagetext">
            <h1>{{category.name}}</h1>
            <div id="pageOutils">
                <div id="menuOutils">
                    <ul class="menuOutil">
                    {% for post in publications %}
                        <li class="titreOutils outilsBib" id="titre-{{post.id}}">{{post.title}}</li>
                    {% endfor %}
                    {% for post in sousPublications %}
                        <li class="titreOutilsCat">{{post.title}}</li>
                        {% for item in post.sousposts %}
                            <li class="titreOutils2 outilsBib" id="titre-{{item.id}}">{{item.title}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
                <div id="textPublications">
                {% for post in publications %}
                    <div id="text-{{post.id}}" class="noshow textPage">
                        <h2>{{post.title}}</h2>
                        {{post.content}}
                    </div>
                {% endfor %}
                {% for post in sousPublications %}
                    {% for item in post.sousposts %}
                        <div id="text-{{item.id}}" class="noshow textPage">
                            <h2>{{item.title}}</h2>
                            {{item.content}}
                        </div>
                    {% endfor %}
                {% endfor %}
                </div>
                <div id="liensPublications" class="">
                     {% for post in publications %}
                        {% if post.custom.liens_en_rapport %}
                        <div id="liensPublication-{{post.id}}" class="noshow liensPublication">
                            <div id="linkTitle">Liens</div>
                            {{ post.meta('liens_en_rapport') }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% for post in sousPublications %}
                        {% for item in post.sousposts %}
                            {% if item.custom.liens_en_rapport %}
                            <div id="liensPublication-{{item.id}}" class="noshow liensPublication">
                                <div id="linkTitle">Liens</div>
                                {{ item.meta('liens_en_rapport') }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="decalageFooter"></div>
{% endblock %}
