{% extends 'category.twig' %}
{% block title %}
    {{parent()}} - {{single.title}}
{% endblock %}
{% block content %}
    <div id="pageContent">
        <div id="breadcrumb">
            <a href="{{site.url}}">
                <img src="{{theme.uri}}/images/home.png" alt="home decoration">
            </a>
        </div>
        <div id="pageText">
            <div id="presentationText">
            <h1>{{single.title}}</h1>
            {{single.content}}
            </div>
        </div>
    </div>
{% endblock %}
