{% extends 'page-layout.twig' %}
{% block javascript %}
    <script type="text/javascript" src="{{theme.uri}}/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/column.js"></script>
{% endblock %}
{% block title %}
    {{parent()}} - Sites Thématiques - {{category.name}}
{% endblock %}
{% block content %}
    <div id="pageContent">
        <div id="breadcrumb">
            <a href="{{site.url}}">
                <img src="{{theme.uri}}/images/home.png" alt="home decoration">
            </a>
        </div>
        <div id="pagetext">
            <h1>Sites thématiques - {{category.name}}</h1>
            <div id="pageSites">
                <ul id="menuSites">
                    {% for item in sitesThematiques %}
                        {% if item.slug == 'omics' %}
                            {% if item.title == category.name %}
                                <li class="childCat">
                                    <a href="{{site.url}}/category/{{item.slug}}" class="active">{{item.title}}</a>
                                </li>
                            {% else %}
                                <li class="childCat">
                                    <a href="{{site.url}}/category/{{item.slug}}">{{item.title}}</a>
                                </li>
                            {% endif %}
                            {% for child in omics %}
                                {% if child.title == category.name %}
                                    <li  class="subCat">
                                        <a href="{{site.url}}/category/{{child.slug}}" class="active">{{child.title}}</a>
                                    </li>
                                {% else %}
                                    <li  class="subCat">
                                        <a href="{{site.url}}/category/{{child.slug}}">{{child.title}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if item.title == category.name  %}
                                <li class="parentCat">
                                    <a href="{{site.url}}/category/{{item.slug}}" class="active">{{item.title}}</a>
                                </li>
                            {% else %}
                                <li class="parentCat">
                                    <a href="{{site.url}}/category/{{item.slug}}">{{item.title}}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}                    
                </ul>
                <div id="columnSite">
                {% for post in posts|sort %}
                {% if post.title != 'omics' %}
                    <div class="siteThematique">
                        <div class="siteHeader">                                              
                                <img src="{{ TimberImage(post.logo).src }}" alt="" class="siteLogo">
                            <h2>
                                <a href="{{post.url}}" target="_blank">{{post.title}}</a>
                            </h2>
                                <div id="arrow-{{post.id}}" class="changeText moreText"></div>                    
                        </div>
                        <div class="noshow" id="text-{{post.id}}">
                            {{post.post_content}}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
